<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
      <% include ../helpers/navbar %>
  
    <h1>Météo</h1>
  </div>

  <input class="search" type="text" placeholder="Entrez le nom de la ville">
  <button type="button" onclick="searchWeather()">Température</button>
  <div class="city">
  </div>
  
  <div class="temp">  
  </div>

  <h1>Give me 5</h1>

  <p>Cliquez sur le boutton pour une surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Cliquez moi</button>

  <div id="image"></div>
  
</body>

</html>